{% load static %}
<!-- favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
<!-- Bootstrap -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- Icons -->
<link href="{% static 'css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- Slider -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}"/>
<!-- Main css -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/style-rtl.css' %}" rel="stylesheet" type="text/css"/>