{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8"/>
    <title>قالب صفحه فرود Saas و نرم افزار</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premium Bootstrap 4 Landing Page Template"/>
    <meta name="keywords" content="bootstrap 4, premium, marketing, multipurpose"/>
    <meta content="Shreethemes" name="author"/>
    {% include 'HeaderFiles.html' %}

</head>

<body>
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class="logo" href="index.html">دستیار هوشمند<span class="text-primary">.</span></a>
        </div>
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>
        <div class="buy-button navigation navigation-menu">
            {% if user.is_authenticated %}
                <li style="float:left;"><a href="index.html">پنل کاربری</a></li>
                <li style="float:left;"><a href="index.html">خروج</a></li>
            {% else %}
                <li style="float:left;"><a href="index.html">ورود</a></li>
                <li style="float:left;"><a href="index.html">ثبت نام</a></li>
            {% endif %}
        </div>
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li><a href="index.html">صفحه اصلی</a></li>
                <li><a href="index.html">سرویس ها</a></li>
                <li><a href="index.html">درباره ما</a></li>
                <li><a href="index.html">تماس با ما</a></li>

            </ul>
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header-->
<!-- Navbar End -->

<!-- Hero Start -->
<section class="bg-half-170" id="home">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-7">
                        <div class="title-heading mt-4">
                            <h1 class="heading mb-3">تلفیقی از <span
                                    class="text-primary">سرعت و &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp هوش مصنوعی</span>
                            </h1>
                            <p class="para-desc text-muted">
                                دستیار هوشمند, دستیاری با قابلیت های بیشمار
                            </p>
                            <div class="mt-4 pt-2">
                                <a href="page-contact-one.html" class="btn btn-primary mt-2 mr-2"><i
                                        class="mdi mdi-email"></i>سرویس ها</a>
                                <a href="documentation.html" class="btn btn-outline-primary mt-2"><i
                                        class="mdi mdi-book-outline"></i> راهنما</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <img src="{% static 'images/illustrator/Startup_SVG.svg' %}" alt="">
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </div><!--end home desc center-->
    </div><!--end home center-->
</section><!--end section-->
<!-- Hero End -->

<!-- Partners start -->
<section class="pt-5 pb-5 border-bottom border-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-4 text-center">
                <img title="پشتیبانی کامل در بات تلگرام" src="{% static 'images\Added\telegramapp.png' %}" class="avatar avatar-small" alt="">
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Partners End -->

<!-- How It Work Start -->
<section class="section bg-light border-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-60">
                    <h4 class="title mb-4">دستیار هوشمند چطور کار میکند ؟</h4>
                    <p class="text-muted para-desc mb-0 mx-auto">
                        سرویس ها ما با بهره گیری از بروزترین و پیشرفته ترین متد های
                        <span class="text-primary font-weight-bold">هوش مصنوعی </span>
                        قابلیت های خارق العاده ای را در اختیار کاربران قرار میدهد.
                    </p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <img src="{% static 'images/illustrator/SEO_SVG.svg' %}" alt="">
            </div><!--end col-->

            <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title ml-lg-5">
                    <h4 class="title mb-4">نحوه ساخت وب سایت ها را تغییر دهید</h4>
                    <p class="text-muted">می توانید تمام الگوهای لندریک را با یک ترکیب ترکیب کنید ، می توانید یک عنصر را
                        از موضوع برنامه بگیرید و از آن در وب سایت استفاده کنید.</p>
                    <ul class="list-unstyled feature-list text-muted">
                        <li><i class="mdi mdi-checkbox-marked-circle text-success h4 mr-2"></i>راه حل های دیجیتال
                            مارکتینگ برای فردا
                        </li>
                        <li><i class="mdi mdi-checkbox-marked-circle text-success h4 mr-2"></i>آژانس بازاریابی با
                            استعداد و مجرب ما
                        </li>
                        <li><i class="mdi mdi-checkbox-marked-circle text-success h4 mr-2"></i>پوست خود را بسازید تا با
                            برند شما مطابقت داشته باشد
                        </li>
                    </ul>
                    <a href="javascript:void(0)" class="mt-3 text-primary">اطلاعات بیشتر <i
                            class="mdi mdi-chevron-right"></i></a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title">
                    <h4 class="title mb-4">پیشرفت خود را سرعت بخشید <br> با <span class="text-primary">لندیک.</span>
                    </h4>
                    <p class="text-muted">استفاده از لندریک برای ساخت سایت شما به معنای نگرانی در مورد طراحی صفحه دیگری
                        یا سازگاری مرورگر متقابل نیست. کتابخانه در حال رشد از مؤلفه ها و طرح های از پیش طراحی شده زندگی
                        شما را آسان تر می کند.</p>
                    <ul class="list-unstyled feature-list text-muted">
                        <li><i class="mdi mdi-checkbox-marked-circle text-success h4 mr-2"></i>راه حل های دیجیتال
                            مارکتینگ برای فردا
                        </li>
                        <li><i class="mdi mdi-checkbox-marked-circle text-success h4 mr-2"></i>آژانس بازاریابی با
                            استعداد و مجرب ما
                        </li>
                        <li><i class="mdi mdi-checkbox-marked-circle text-success h4 mr-2"></i>پوست خود را بسازید تا با
                            برند شما مطابقت داشته باشد
                        </li>
                    </ul>
                    <a href="javascript:void(0)" class="mt-3 text-primary">اطلاعات بیشتر <i
                            class="mdi mdi-chevron-right"></i></a>
                </div>
            </div><!--end col-->

            <div class="col-lg-5 col-md-6 order-1 order-md-2">
                <div class="p-4 rounded bg-white feature-form border ml-lg-5">
                    <img src="{% static 'images/illustrator/Mobile_notification_SVG.svg' %}" alt="">

                    <div class="content mt-4 pt-2">
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group position-relative">
                                        <label>نام : <span class="text-danger">*</span></label>
                                        <i class="mdi mdi-account ml-3 icons"></i>
                                        <input type="text" class="form-control pl-5" placeholder="نام" name="name"
                                               required="">
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12">
                                    <div class="form-group position-relative">
                                        <label>ایمیل : <span class="text-danger">*</span></label>
                                        <i class="mdi mdi-email ml-3 icons"></i>
                                        <input type="email" class="form-control pl-5" placeholder="ایمیل" name="email"
                                               required="">
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12">
                                    <div class="form-group position-relative">
                                        <label>رمز عبور : <span class="text-danger">*</span></label>
                                        <i class="mdi mdi-key ml-3 icons"></i>
                                        <input type="password" class="form-control pl-5" placeholder="رمز عبور"
                                               required="">
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12 mt-2 mb-0">
                                    <button class="btn btn-primary w-100">دانلود</button>
                                </div><!--end col-->
                            </div>
                        </form>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- How It Work End -->

<!-- Testi Start -->
<section class="section pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-60">
                    <h4 class="title mb-4">مشتریان خوشحال ما</h4>
                    <p class="text-muted para-desc mx-auto mb-0">شروع به کار با <span
                            class="text-primary font-weight-bold">لندریک </span> که می تواند همه چیز را برای ایجاد آگاهی
                        ، ترافیک رانندگی ، اتصال فراهم کند.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-12">
                <div id="customer-testi" class="owl-carousel owl-theme">
                    <div class="customer-testi mr-2 ml-2 text-center p-4 rounded border">
                        <img src="{% static 'images/client/amazon.svg' %}" class="img-fluid avatar avatar-ex-sm mx-auto"
                             alt="">
                        <p class="text-muted mt-4">" تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه. "</p>
                        <h6 class="text-primary">- نام مشتری</h6>
                    </div>

                    <div class="customer-testi mr-2 ml-2 text-center p-4 rounded border">
                        <img src="{% static 'images/client/google.svg' %}" class="img-fluid avatar avatar-ex-sm mx-auto"
                             alt="">
                        <p class="text-muted mt-4">" تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه. "</p>
                        <h6 class="text-primary">- نام مشتری</h6>
                    </div>

                    <div class="customer-testi mr-2 ml-2 text-center p-4 rounded border">
                        <img src="{% static 'images/client/lenovo.svg' %}" class="img-fluid avatar avatar-ex-sm mx-auto"
                             alt="">
                        <p class="text-muted mt-4">" تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه. "</p>
                        <h6 class="text-primary">- نام مشتری</h6>
                    </div>

                    <div class="customer-testi mr-2 ml-2 text-center p-4 rounded border">
                        <img src="{% static 'images/client/paypal.svg' %}" class="img-fluid avatar avatar-ex-sm mx-auto"
                             alt="">
                        <p class="text-muted mt-4">" تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه. "</p>
                        <h6 class="text-primary">- نام مشتری</h6>
                    </div>

                    <div class="customer-testi mr-2 ml-2 text-center p-4 rounded border">
                        <img src="{% static 'images/client/shopify.svg' %}"
                             class="img-fluid avatar avatar-ex-sm mx-auto" alt="">
                        <p class="text-muted mt-4">" تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه. "</p>
                        <h6 class="text-primary">- نام مشتری</h6>
                    </div>

                    <div class="customer-testi mr-2 ml-2 text-center p-4 rounded border">
                        <img src="{% static 'images/client/spotify.svg' %}"
                             class="img-fluid avatar avatar-ex-sm mx-auto" alt="">
                        <p class="text-muted mt-4">" تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه. "</p>
                        <h6 class="text-primary">- نام مشتری</h6>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Testi End -->

<!-- Pricing Start -->
<section class="section">
    <div class="container">
        <div class="row mt-lg-4 align-items-center">
            <div class="col-lg-5 col-md-12 text-center text-lg-left">
                <div class="section-title mb-60">
                    <h4 class="title mb-4">قیمت های راحت ما</h4>
                    <p class="text-muted para-desc mx-auto mb-0">شروع به کار با <span
                            class="text-primary font-weight-bold">لندریک </span> که می تواند همه چیز را برای ایجاد آگاهی
                        ، ترافیک رانندگی ، اتصال فراهم کند.</p>
                    <a href="https://www.rtl-theme.com/author/TN_Plugin/?aff=TN_Plugin" target="_blank"
                       class="btn btn-primary mt-4">خرید کنید <span
                            class="badge badge-danger rounded ml-2">ورژن 1.6</span></a>
                </div>
            </div><!--end col-->

            <div class="col-lg-7 col-md-12">
                <div class="row align-items-center ml-lg-5">
                    <div class="col-md-6 col-12 pl-md-0 pr-md-0">
                        <div class="pricing-rates starter-plan shadow bg-white pt-5 pb-5 p-4 rounded text-center">
                            <h2 class="title text-uppercase text-primary mb-4">استارتر</h2>
                            <div class="d-flex justify-content-center mb-4">
                                <span class="price h1 mb-0">39</span>
                                <span class="h4 mb-0 mt-2">تومان</span>
                                <span class="h4 align-self-end mb-1">/ماه</span>
                            </div>

                            <ul class="feature list-unstyled pl-0">
                                <li class="feature-list"><i class="mdi mdi-check text-success h5 mr-1"></i>دسترسی کامل
                                </li>
                                <li class="feature-list"><i class="mdi mdi-check text-success h5 mr-1"></i>فایل های منبع
                                </li>
                                <li class="feature-list"><i class="mdi mdi-check text-success h5 mr-1"></i>قرارهای
                                    رایگان
                                </li>
                                <li class="feature-list"><i class="mdi mdi-check text-success h5 mr-1"></i>امنیت پیشرفته
                                </li>
                            </ul>
                            <a href="javascript:void(0)" class="btn btn-primary mt-4">شروع کنید</a>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0 pl-md-0 pr-md-0">
                        <div class="pricing-rates bg-light pt-5 pb-5 p-4 rounded text-center">
                            <h2 class="title text-uppercase mb-4">حرفه ای</h2>
                            <div class="d-flex justify-content-center mb-4">
                                <span class="price h1 mb-0">59</span>
                                <span class="h4 mb-0 mt-2">تومان</span>
                                <span class="h4 align-self-end mb-1">/ماه</span>
                            </div>

                            <ul class="feature list-unstyled pl-0">
                                <li class="feature-list"><i class="mdi mdi-check text-success h5 mr-1"></i>دسترسی کامل
                                </li>
                                <li class="feature-list"><i class="mdi mdi-check text-success h5 mr-1"></i>امنیت پیشرفته
                                </li>
                                <li class="feature-list"><i class="mdi mdi-check text-success h5 mr-1"></i>فایل های منبع
                                </li>
                                <li class="feature-list"><i class="mdi mdi-check text-success h5 mr-1"></i>1 دامنه
                                    رایگان
                                </li>
                            </ul>
                            <a href="javascript:void(0)" class="btn btn-primary mt-4">الآن امتحانش کن</a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <div class="container-fluid">
        <div class="row">
            <div class="home-shape-bottom">
                <img src="{% static 'images/shapes/shape-light.png' %}" alt="" class="img-fluid mx-auto d-block">
            </div>
        </div><!--end row-->
    </div> <!-- END CONTAINER -->
</section><!--end section-->
<!-- Pricing End -->

<!-- FAQ n Contact Start -->
<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="faq-container">
                    <h4 class="question"><i class="mdi mdi-help-circle text-primary mr-2 h4"></i> چگونه با <span
                            class="text-primary"> لندریک </span> کار میکنیم؟</h4>
                    <p class="answer text-muted ml-lg-4 pl-lg-3 mb-0">به دلیل استفاده گسترده از آن به عنوان متن پرکننده
                        برای چیدمان ها ، عدم خوانایی از اهمیت زیادی برخوردار است: درک انسان برای شناخت الگوهای خاص و
                        تکرارها در متن تنظیم شده است..</p>
                </div>
            </div><!--end col-->

            <div class="col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="faq-container">
                    <h4 class="question"><i class="mdi mdi-help-circle text-primary mr-2 h4"></i> حساب اصلی باز فرآیند
                        چیست؟</h4>
                    <p class="answer text-muted ml-lg-4 pl-lg-3 mb-0">به دلیل استفاده گسترده از آن به عنوان متن پرکننده
                        برای چیدمان ها ، عدم خوانایی از اهمیت زیادی برخوردار است: درک انسان برای شناخت الگوهای خاص و
                        تکرارها در متن تنظیم شده است.</p>
                </div>
            </div><!--end col-->

            <div class="col-md-6 col-12 mt-4 pt-2">
                <div class="faq-container">
                    <h4 class="question"><i class="mdi mdi-help-circle text-primary mr-2 h4"></i> چگونه می توان اطلاعات
                        نامحدود را وارد کرد؟</h4>
                    <p class="answer text-muted ml-lg-4 pl-lg-3 mb-0">به دلیل استفاده گسترده از آن به عنوان متن پرکننده
                        برای چیدمان ها ، عدم خوانایی از اهمیت زیادی برخوردار است: درک انسان برای شناخت الگوهای خاص و
                        تکرارها در متن تنظیم شده است..</p>
                </div>
            </div><!--end col-->

            <div class="col-md-6 col-12 mt-4 pt-2">
                <div class="faq-container">
                    <h4 class="question"><i class="mdi mdi-help-circle text-primary mr-2 h4"></i> است <span
                            class="text-primary">لندریک </span> امن تر برای استفاده با حساب؟ </h4>
                    <p class="answer text-muted ml-lg-4 pl-lg-3 mb-0">به دلیل استفاده گسترده از آن به عنوان متن پرکننده
                        برای چیدمان ها ، عدم خوانایی از اهمیت زیادی برخوردار است: درک انسان برای شناخت الگوهای خاص و
                        تکرارها در متن تنظیم شده است..</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row mt-md-5 pt-md-3 mt-4 pt-2 mt-sm-0 pt-sm-0 justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h4 class="title mb-4">سوال دارید؟ در تماس باشید!</h4>
                    <p class="text-muted para-desc mx-auto">شروع به کار با <span class="text-primary font-weight-bold">لندریک </span>
                        که می تواند همه چیز را برای ایجاد آگاهی ، ترافیک رانندگی ، اتصال فراهم کند.</p>
                    <a href="page-contact-two.html" class="btn btn-primary mt-4"><i class="mdi mdi-phone"></i> تماس با
                        ما</a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <div class="container-fluid">
        <div class="row">
            <div class="home-shape-bottom">
                <img src="{% static 'images/shapes/shape-dark.png' %}" alt="" class="img-fluid mx-auto d-block">
            </div>
        </div><!--end row-->
    </div> <!-- END CONTAINER -->
</section><!--end section-->
<!-- FAQ n Contact End -->

<!-- Footer Start -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <a class="logo-footer" href="#">لندریک<span class="text-primary">.</span></a>
                <p class="mt-4">با لندریک کار کنید که می تواند همه چیز را برای ایجاد آگاهی ، ترافیک رانندگی ، اتصال
                    برقرار کند.</p>
                <ul class="list-unstyled social-icon social mb-0 mt-4">
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                            class="mdi mdi-facebook" title="فیس بوک"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                            class="mdi mdi-instagram" title="اینستاگرام"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter"
                                                                                                 title="توییتر"></i></a>
                    </li>
                </ul><!--end icon-->
            </div><!--end col-->

            <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h4 class="text-light footer-head">شرکت</h4>
                <ul class="list-unstyled footer-list mt-4">
                    <li><a href="page-aboutus.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> درباره
                        ما</a></li>
                    <li><a href="page-services.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> خدمات</a>
                    </li>
                    <li><a href="page-team.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> تیم</a>
                    </li>
                    <li><a href="page-pricing.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>
                        قیمت</a></li>
                    <li><a href="page-work.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> پروژه</a>
                    </li>
                    <li><a href="page-jobs.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> حرفه</a>
                    </li>
                    <li><a href="page-blog.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> بلاگ</a>
                    </li>
                    <li><a href="page-cover-login.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>
                        ورود</a></li>
                </ul>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h4 class="text-light footer-head">لینک های کمکی</h4>
                <ul class="list-unstyled footer-list mt-4">
                    <li><a href="page-terms.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> شرایط
                        خدمات</a></li>
                    <li><a href="page-privacy.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> حریم
                        خصوصی</a></li>
                    <li><a href="documentation.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> راهنما</a>
                    </li>
                    <li><a href="changelog.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>
                        تغییرات</a></li>
                    <li><a href="components.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> اجزاء</a>
                    </li>
                </ul>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h4 class="text-light footer-head">خبرنامه</h4>
                <p class="mt-4">ثبت نام کنید و آخرین راهنمایی ها را از طریق ایمیل دریافت کنید.</p>
                <form>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="foot-subscribe form-group position-relative">
                                <label>نوشتن ایمیل شما <span class="text-danger">*</span></label>
                                <i class="mdi mdi-email ml-3 icons"></i>
                                <input type="email" name="email" id="emailsubscribe" class="form-control pl-5 rounded"
                                       placeholder="ایمیل شما : " required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <input type="submit" id="submitsubscribe" name="send" class="btn btn-primary w-100"
                                   value="عضو شدن">
                        </div>
                    </div>
                </form>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<hr>
<footer class="footer footer-bar">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="text-sm-left">
                    <p class="mb-0">© 1398 لندریک. طراحی با <i class="mdi mdi-heart text-danger"></i> توسط <a
                            href="https://www.rtl-theme.com/author/TN_Plugin/?aff=TN_Plugin" target="_blank"
                            class="text-success">جعفر عباسی</a>.</p>
                </div>
            </div>

            <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <ul class="list-unstyled payment-cards text-sm-right mb-0">
                    <li class="list-inline-item"><a href="javascript:void(0)"><img
                            src="{% static 'images/payments/american-ex.png' %}"
                            title="آمریکن اکسپرس" alt=""></a>
                    </li>
                    <li class="list-inline-item"><a href="javascript:void(0)"><img
                            src="{% static 'images/payments/discover.png' %}"
                            title="کشف کردن" alt=""></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)"><img
                            src="{% static 'images/payments/master-card.png' %}"
                            title="مستر کارد" alt=""></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)"><img
                            src="{% static 'images/payments/paypal.png' %}"
                            title="پی پال" alt=""></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)"><img
                            src="{% static 'images/payments/visa.png' %}"
                            title="ویزا" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div><!--end container-->
</footer><!--end footer-->
<!-- Footer End -->

<!-- Back to top -->
<a href="#" class="back-to-top rounded text-center" id="back-to-top">
    <i class="mdi mdi-chevron-up d-block"> </i>
</a>
<!-- Back to top -->

<!-- javascript -->
{% include 'JSFiles.html' %}
</body>

</html>