{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/scrollspy.min.js' %}"></script>
<!-- SLIDER -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/owl.init.js' %}"></script>
<!-- Main Js -->
<script src="{% static 'js/app.js' %}"></script>