{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8"/>
    <title>قالب صفحه فرود Saas و نرم افزار</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premium Bootstrap 4 Landing Page Template"/>
    <meta name="keywords" content="bootstrap 4, premium, marketing, multipurpose"/>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="google-signin-client_id"
          content="440930641069-r7but8katglamb79mju19epdkpq42qah.apps.googleusercontent.com">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

    <meta content="Shreethemes" name="author"/>
    <!-- favicon -->
    {% include 'HeaderFiles.html' %}
    <style>
        .disabled {
            pointer-events: none;
            opacity: 0.6;
        / / This makes it not clickable opacity: 0.6;
        / / This grays it out to look disabled
        }
    </style>
</head>

<body>
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->
<div id="AlertBox" style="display: none" class="alert alert-danger alert-dismissible fade show" role="alert">
    اکانتی با این جیمیل وجود ندارد.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="back-to-home rounded d-none d-sm-block">
    <a href="{% url 'HomePage' %}" class="text-white rounded d-inline-block text-center"><i
            class="mdi mdi-home"></i></a>
</div>

<!-- Hero Start -->
<section class="bg-home">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="mr-lg-5">
                            <img src="{% static 'images/user/login.png' %}" class="img-fluid d-block mx-auto" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="login-page bg-white shadow rounded p-4">
                            <div class="text-center">
                                <h4 class="mb-4">ورود</h4>
                            </div>
                            <form autocomplete="off" name="login_form" accept-charset="UTF-8"
                                  class="login-form" action="{% url 'LoginPage' %}" method="post"> {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group position-relative">
                                            <label>موبایل شما <span class="text-danger">*</span></label>
                                            <i class="mdi mdi-account ml-3 icons"></i>
                                            <input title="لطفا شماره همراه خود را وارد نمایید." autocomplete="off"
                                                   dir="ltr" type="tel" class="form-control pl-5"
                                                   placeholder="09*********"
                                                   maxlength="11" minlength="11"
                                                   name="phone_number" required="required">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group position-relative">
                                            <label>رمز عبور <span class="text-danger">*</span></label>
                                            <i class="mdi mdi-key ml-3 icons"></i>
                                            <input maxlength="120" minlength="8"
                                                   title="لطفا کلمه عبور خود را وارد نمایید." dir="ltr"
                                                   name="password"
                                                   autocomplete="new-password" type="password"
                                                   class="form-control pl-5" placeholder="رمز عبور"
                                                   required="required">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <p class="float-right forgot-pass"><a
                                                title="در صورت فراموش کردن رمز عبور خود بر روی این این لینک کلیک کنید."
                                                href=""
                                                class="text-dark font-weight-bold">فراموشی
                                            رمز عبور؟</a></p>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input name="remember_me_check_box" type="checkbox"
                                                       class="custom-control-input" id="customCheck1">
                                                <label title="لاگین ماندن در سایت به مدت 30 روز."
                                                       class="custom-control-label" for="customCheck1">مرا به خاطر
                                                    بسپار</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mb-0">
                                        <button class="btn btn-primary w-100">ورود</button>
                                    </div>
                                    <div class="col-lg-12 mt-4 text-center">
                                        <h6>و یا از طریق</h6>
                                        <ul class="list-unstyled social-icon mb-0 mt-3">
                                            <li id="googleSignIn" class="list-inline-item">
                                                <a class="rounded"><i
                                                        class="mdi mdi-gmail" title="ورود با جیمیل"></i></a>
                                            </li>
                                            <script src="https://apis.google.com/js/platform.js?onload=onLoadGoogleCallback"
                                                    async defer></script>

                                            <li class="list-inline-item"><a class="rounded"><i
                                                    class="mdi mdi-github-circle" title="ورود با گیت هاب"></i></a></li>
                                            <li class="list-inline-item"><a class="rounded"><i
                                                    class="mdi mdi-apple" title="ورود با اپل"></i></a></li>
                                            <li id="TelegramLoginBTN" class="list-inline-item"><a class="rounded"><i
                                                    class="mdi mdi-telegram"
                                                    title="ورود با تلگرام؛ فقط با آی پی غیر از ایران"></i></a></li>
                                        </ul><!--end icon-->
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="mb-0 mt-3"><small class="text-dark mr-2">هنوز ثبت نام نکرده
                                            اید؟</small> <a
                                                href="" class="text-dark font-weight-bold">ثبت نام کنید.</a>
                                        </p>
                                        <script async src="https://telegram.org/js/telegram-widget.js?14"
                                                data-telegram-login="ai_imagebot" data-size="small"
                                                data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
                                    </div>
                                    <div id="TelegramInfo" style="display: none" class="col-12 text-center">
                                        <p class="mb-0 mt-3"><small class="text-dark mr-2">
                                            ** ورود با تلگرام فقط با آی پی غیر از ایران ممکن است. **
                                        </small>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div><!---->
                    </div> <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </div>
    </div>
</section><!--end section-->
<!-- Hero End -->

<!-- javascript -->
{% include 'JSFiles.html' %}

<script type="text/javascript">
    function onLoadGoogleCallback() {
        gapi.load('auth2', function () {
            auth2 = gapi.auth2.init({
                client_id: '440930641069-r7but8katglamb79mju19epdkpq42qah.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
                scope: 'profile'
            });

            auth2.attachClickHandler(element, {},
                function (googleUser) {
                    //let ID = googleUser.getBasicProfile().getId().toString();
                    //let Name = googleUser.getBasicProfile().getName().toString();
                    //let GivenName = googleUser.getBasicProfile().getGivenName().toString();
                    //let FamilyName = googleUser.getBasicProfile().getFamilyName().toString();
                    //let ImageURL = googleUser.getBasicProfile().getImageUrl().toString();
                    let Email = googleUser.getBasicProfile().getEmail().toString();
                    let csrftoken = "{{ csrf_token }}"
                    $.ajax({
                        type: "POST",
                        url: "{% url 'LoginWithGoogleAjax' %}",
                        headers: {'X-CSRFToken': csrftoken},
                        csrfmiddlewaretoken: csrftoken,
                        data: {
                            //"ID": ID,
                            //"Name": Name,
                            //"GivenName": GivenName,
                            //"FamilyName": FamilyName,
                            //"ImageURL": ImageURL,
                            "Email": Email,

                        },
                        success: function (response) {
                            if (response.Login === "False") {
                                Alert("جیمیل وارد شده به هیچ اکانتی لینک نشده است.")
                            } else {
                                window.location.replace("{% url 'HomePage' %}");
                            }
                        }
                    });
                }
            );
        });
        element = document.getElementById('googleSignIn');
    }
</script>
</body>

<script type="text/javascript">
    function Alert(text) {
        $(document).ready(function () {
            // show the alert
            document.getElementById("AlertBox").innerHTML = text
            document.getElementById("AlertBox").style.display = 'block';
            setTimeout(function () {
                document.getElementById("AlertBox").style.display = 'none';
            }, 10000);
        });
    }
</script>

<script type="text/javascript">
    {% if country_code == "IR" %}
        document.getElementById("TelegramLoginBTN").classList.add("disabled");
        document.getElementById("TelegramInfo").style.display = "block";
    {% endif %}

</script>

<script type="text/javascript">
    function onTelegramAuth(user) {
        alert('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + ')');
    }
</script>
<script async src="https://telegram.org/js/telegram-widget.js?14" data-telegram-login="ai_imagebot" data-size="large"
        data-auth-url="https://www.google.com" data-request-access="write"></script>
</html>